.collection-item {
  position: relative;
  width: 900px;
  margin-right: 35px;
  flex: 0 0 22%; /* can't grow, can't shrink, fixed at 290px */
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  .collection-item-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  // will be referring to CustomButton component class
  .custom-bttn {
    display: none;

    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 320px;
  }

  &:hover {
    .collection-item-image {
      opacity: 0.7;
    }

    .custom-bttn {
      display: block;
      opacity: 0.9;
    }
  }

  .collection-item-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .collection-item-footer-name {
      width: 90%;
      margin-bottom: 15px;
    }

    .collection-item-footer-price {
      width: 10%;
    }
  }
}
